<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <img src="https://storage.googleapis.com/cloudprod-apiai/714b6d54-b341-4541-b64a-260e91261dad_l.png" height="35" width="35">&nbsp;<a class="navbar-brand" href="#">Bell Direct</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
          <a class="nav-link" [routerLink]="['/']">Home <span></span></a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
          <a class="nav-link" [routerLink]="['/operator']">Customers </a>
        </li>
        <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
            <a class="nav-link" [routerLink]="['/history']">History </a>
        </li>
        <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
          <a class="nav-link" [routerLink]="['/profile']">Profile </a>
        </li>
        <li class="nav-item" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
          <a class="nav-link" [routerLink]="['/login']">Login </a>
        </li>
        <li class="nav-item" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}">
          <a class="nav-link" [routerLink]="['/register']">Register</a>
        </li>
        <li class="nav-item" *ngIf="authService.loggedIn()"><a class="nav-link" (click)="onLogoutClick()" href="#">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
